
body {
    background-color: rgb(233, 236, 239);
}

/* STRUCTURE */

.card {
    -webkit-border-radius: calc(0.6875rem - 1px) calc(0.6875rem - 1px) calc(0.6875rem - 1px) calc(0.6875rem - 1px);
    border-radius: calc(0.6875rem - 1px) calc(0.6875rem - 1px) calc(0.6875rem - 1px) calc(0.6875rem - 1px);
    /* background: rgba(34, 52, 121, 0.13);
    background: rgba(189, 189, 189, 0.18); */
    background: rgba(254, 254, 254, 0.99);
    /*   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    */
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4), 0px 4px 20px rgba(0, 0, 0, 0.92);
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4), 0px 4px 20px rgba(0, 0, 0, 0.92);
}


label.control-label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 100%;
}


/* FORM TYPOGRAPHY*/
input[type=button], input[type=submit], input[type=reset], button.btn {
    /* background-color: #56baed; */
    background-color: rgb(79, 131, 187);
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);*/
    -webkit-box-shadow: 0 10px 30px 0 rgba(54, 142, 219,0.4);
    box-shadow: 0 10px 30px 0 rgba(54, 142, 219,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button.btn:hover {
        /*background-color: rgb(57, 172, 231);*/
        background-color: rgb(37, 149, 206);
    }

    button.btn.focus, button.btn:focus,
    button.btn:not(:disabled):not(.disabled).active,
    button.btn:not(:disabled):not(.disabled):active,
    .show > button.btn.dropdown-toggle {
        color: #fff;
        /*background-color: #56baed;*/
        background-color: rgb(79, 131, 187);
        border: none;
        box-shadow: none;
        border: none;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button.btn:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ced4da;
    box-shadow: none;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=text]:focus {
        background-color: #fff;
        box-shadow: none;
        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=text]:placeholder {
        color: #cccccc;
    }



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fifth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }


/* OTHERS */

*:focus {
    outline: none;
}

.form-control.border-danger:focus {
    /* color: #495057;
    background-color: #fff;*/
    border-color: rgba(219,95,107,1);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(219,95,107,.25);
}

.card-header {
    background-color: #375a7f;
    color: #fff;
}

    .card-header,
    .card-header:first-child {
        -webkit-border-radius: calc(0.6875rem - 1px) calc(0.6875rem - 1px) 0 0;
        border-radius: calc(0.6875rem - 1px) calc(0.6875rem - 1px) 0 0;
    }
