input[type=button], input[type=submit], input[type=reset], button.btn, a.btn {
    /* background-color: #56baed; */
    background-color: rgb(79, 131, 187);
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);*/
    -webkit-box-shadow: 0 10px 30px 0 rgba(54, 142, 219,0.4);
    box-shadow: 0 10px 30px 0 rgba(54, 142, 219,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button.btn:hover, a.btn:hover {
        /background-color: rgb(57, 172, 231);
        / background-color: rgb(37, 149, 206);
    }

    button.btn.focus, button.btn:focus,
    button.btn:not(:disabled):not(.disabled).active,
    button.btn:not(:disabled):not(.disabled):active,
    .show > button.btn.dropdown-toggle,
    a.btn.focus, a.btn:focus,
    a.btn:not(:disabled):not(.disabled).active,
    a.btn:not(:disabled):not(.disabled):active,
    .show > a.btn.dropdown-toggle {
        color: #fff;
        /background-color: #56baed;
        / background-color: rgb(79, 131, 187);
        border: none;
        box-shadow: none;
        border: none;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button.btn:active, a.btn:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
